.register-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
}

.outer-form-container {
  width: 28rem;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 1rem;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #cccccc;
  border-right: 2px solid #cccccc;
  background: #f9efe4;
}

@media (max-width: 400px) {
  .outer-form-container {
    width: auto;
    margin: 4px;
    gap: 2px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.reg-title {
  font-family: "MSbold-bold";
  text-align: left;
  padding-left: 1rem;
  color: #005e5e;
}

.input {
  white-space: nowrap;
  border: solid 2px;
  border-bottom-color: #fcf7f2;
  border-right-color: #fcf7f2;
  border-left-color: #535353;
  border-top-color: #535353;
  border-radius: 2px;
  padding: 8px 9px;
  color: black;
  margin: 5px;
}

.input-icon-container {
  display: flex;
  border: solid 2px;
  border-bottom-color: #fcf7f2;
  border-right-color: #fcf7f2;
  border-left-color: #535353;
  border-top-color: #535353;
  background: #fff;
  align-items: center;
  overflow: hidden;
  margin: 5px;
}

.input-icon-container input {
  outline: none;
  border: none;
  background: none;
  width: 100%;

  padding: 4px 9px;
}

.input-icon-container .fa {
  padding: 10px;
}

.reg-button {
  white-space: nowrap;
  text-align: center;
  border: solid 2px;
  border-top-color: #fcf7f2;
  border-left-color: #fcf7f2;
  border-right-color: #535353;
  border-bottom-color: #535353;
  border-radius: 2px;
  padding: 4px 11px;
  margin: 5px;
  background: transparent;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: url(../../../cursor/smolHand.png), pointer;
}

.reg-button:hover {
  background: #f9efe4;
  color: #472d10;
}

.reg-button:active {
  border-top-color: #535353;
  border-left-color: #535353;
  border-right-color: #fcf7f2;
  border-bottom-color: #fcf7f2;
}
.submit-button {
  width: 30%;
  white-space: nowrap;
  text-align: center;
  border: solid 2px;
  border-top-color: #fcf7f2;
  border-left-color: #fcf7f2;
  border-right-color: #535353;
  border-bottom-color: #535353;
  border-radius: 2px;
  padding: 4px 11px;
  margin: 5px;
  background: #f7dfd4;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: url(../../../cursor/smolHand.png), pointer;
}

.submit-button:hover {
  background: #f2cab7;
  color: #472d10;
}

.submit-button:active {
  border-top-color: #535353;
  border-left-color: #535353;
  border-right-color: #fcf7f2;
  border-bottom-color: #fcf7f2;
}

.pass-submit {
  display: flex;
  gap: 1rem;
}
