.user-page {
  display: flex;
  /* max-width: 100%; */
}

.genre-bar {
  /* margin: 6px; */
  /* max-width: 20%; */
  /* border: solid 2ps */
}

.genre {
  width: 10rem;
  flex-wrap: wrap;
  text-align: left;
  font-size: 15px;
  padding: 8px 10px;
  margin-right: 3px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #cccccc;
  border-right: 2px solid #cccccc;
}

.genre p {
  padding: 2px;
  margin: 1px;
  text-align: right;
  font-size: 13px;
  color: teal;
}

.books-n-details {
  max-width: 30%;
  /* border: solid 2px;
  border-top-color: #fcf7f2;
  border-left-color: #fcf7f2;
  border-right-color: #535353;
  border-bottom-color: #535353; */
}

.carousel {
  /* height: 30vh; */
}

.book-detail {
  /* height: calc(100vh - 400px); */
}

.green-button {
  white-space: nowrap;
  text-align: center;
  border: solid 2px;
  border-top-color: #fcf7f2;
  border-left-color: #fcf7f2;
  border-right-color: #535353;
  border-bottom-color: #535353;
  border-radius: 2px;
  padding: 4px 11px;
  margin: 5px;
  background: #def1de;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  cursor: url(../../../cursor/smolHand.png), pointer;
}

.green-button:hover {
  background: #c6e7c6;
  color: #472d10;
}

.green-button:active {
  border-top-color: #535353;
  border-left-color: #535353;
  border-right-color: #fcf7f2;
  border-bottom-color: #fcf7f2;
}
