.carousel-container {
  display: flex;
  width: 100%;
  overflow-y: hidden;
  /* position: relative; */
}

.carousel {
  display: flex;
  width: 50vw;
  overflow-y: hidden;
  align-items: center;
  gap: 20px;
}
@media (max-width: 800px) {
  .carousel {
    width: 30vw;
  }
}
@media (max-width: 1000px) {
  .carousel {
    width: 65vw;
  }
}

@media (max-width: 1200px) {
  .carousel {
    width: 75vw;
  }
}
@media (max-width: 1400px) {
  .carousel {
    width: 75vw;
  }
}
@media (max-width: 1500px) {
  .carousel {
    width: 70vw;
  }
}
@media (max-width: 1600px) {
  .carousel {
    width: 65vw;
  }
}
@media (max-width: 1800px) {
  .carousel {
    width: 55vw;
  }
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-arrow {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f7dfd4;
  color: #472d10;
  padding: 3px;
  border: solid 2px;
  border-top-color: #fcf7f2;
  border-left-color: #fcf7f2;
  border-right-color: #535353;
  border-bottom-color: #535353;
  cursor: url(../../../../cursor/smolHand.png), pointer;
}

.carousel-arrow:hover {
  background: #f2cab7;
  color: #472d10;
}

.carousel-book {
  padding: 4px 8px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #cccccc;
  border-right: 2px solid #cccccc;
}

.carousel-book span {
  font-size: 10px;
}

.small-thumb {
  width: 100px;
}
