body {
  font-family: "MSbold";
  letter-spacing: 2px;
  word-spacing: 4px;
  background: #fcf7f2;
}

.entire-site {
  width: 1200px;
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

a {
  text-decoration: none;
}
