body {
  font-family: "MSbold";
  letter-spacing: 2px;
  word-spacing: 4px;
  background: #fcf7f2;
  /* background: #f6ffff; */
  cursor: url(../cursor/smolArrow.png), auto;
}

.entire-site {
  width: 1200px;
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* cursor: url(../cursor/arrow.png), auto; */
}
/* .App {
  cursor: url("../cursor/hand.png"), auto;
} */
a {
  text-decoration: none;
  cursor: url(../cursor/smolHand.png), pointer;
}
