body {
  font-family: "MSbold";
  letter-spacing: 2px;
  word-spacing: 4px;
  background: #fcf7f2;
  /* background: #f6ffff; */
  /* cursor: url(../cursor/smolArrow.png), auto; */
}

.whole-page {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.full-div {
  width: 100%;
}

.entire-site {
  width: 1200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.under-nav {
  margin: 20px;
  max-width: 1200px;
}
:root {
  cursor: url(../cursor/smolArrow.png), auto;
}
a {
  text-decoration: none;
  cursor: url(../cursor/smolHand.png), pointer;
}
